.login {
  height: 60vh;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
}
.create_accc {
  height: 5vh;
  width: 22vw;
  position: relative;
  top: 2vh;
  text-align: left;
  /* border: 2px solid black; */
}

form {
  line-height: 5vh;
  width: 50vh;
}
.headingtwo {
  color: #1ad1ff;
}
.under_div_login {
  width: 30%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: white;
}
.under_login {
  line-height: 5vh;
  height: 100%;
  width: 45vh;
}

.emaillogin {
  display: block;
  font-size: 1.5em;
}
#emaillogin {
  height: 6vh;
  width: 90%;
  border-radius: 5px;
  /* background-color: rgba(128, 128, 128, 0.186); */
  text-align: center;
  /* text-transform: capitalize; */
  text-align: center;
}
.passwordlogin {
  display: block;
  font-size: 1.5em;
}
#passwordlogin {
  height: 6vh;
  width: 90%;
  border-radius: 5px;
  /* background-color: rgba(128, 128, 128, 0.186); */
  text-align: center;
  /* text-transform: capitalize; */
  text-align: center;
}

.loginbtn_main {
  height: 5vh;
  width: 22.5vw;
  background-color: blueviolet;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .login {
    height: 100vh;
    width: 90vw;
    margin: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .create_accc {
    height: 5vh;
    width: 80vw;
    position: relative;
    top: -1vh;

    /* top: 2vh; */
    text-align: center;
    /* border: 2px solid black; */
  }

  .under_div_login {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    line-height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 1px solid gray; */
  }
  .under_login {
    line-height: 5vh;
    height: 100%;
    width: 90vw;
    margin: auto;
  }

  .loginbtn {
    height: 5vh;
    width: 40vw;
    background-color: #1ad1ff;
    font-size: larger;
    font-weight: bold;
    display: none;
    border-radius: 5px;
  }
  .loginbtn_main {
    height: 5vh;
    width: 75vw;
    background-color: blueviolet;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .login {
    height: 80vh;
    width: 90vw;
    margin: auto;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    /* border: 2px solid black; */
  }
  .create_accc {
    height: 5vh;
    width: 55vw;
    position: relative;
    top: -1vh;
    font-size: 1.5em;
    /* top: 2vh; */
    text-align: left;
    /* border: 2px solid black; */
  }

  .under_div_login {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: -10vh;
    /* line-height: 4vh; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    /* border: 1px solid gray; */
  }
  .under_login {
    line-height: 5vh;
    height: 100%;
    width: 90vw;
    margin: auto;
  }

  .loginbtn {
    height: 5vh;
    width: 40vw;
    background-color: #1ad1ff;
    font-size: larger;
    font-weight: bold;
    display: none;
    border-radius: 5px;
  }
  .loginbtn_main {
    height: 5vh;
    width: 56vw;
    background-color: blueviolet;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
  }
}
