.developmentNav {
  display: flex;
  height: 5vh;
  align-items: center;
  border: 10px solid white;
  /* box-shadow: 1px 1px 2px black; */
  justify-content: space-around;
}

@media screen and (min-width:300px)  and (max-width:600px){
  .developmentNav {
    display: none;
    height: 5vh;
    align-items: center;
    border: 10px solid white;
    justify-content: space-around;
  }
  
  
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .developmentNav {
    display: none;
    
  }
}